<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${chatroomId}"></title>
    <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@5.0.0/bundles/stomp.umd.min.js">
    </script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        const WEBSOCKET_URL = /*[[${WEBSOCKET_URL}]]*/ '';
        const SUBSCRIBE_DESTINATION = /*[[${SUBSCRIBE_DESTINATION}]]*/ '';
        const PUBLISH_DESTINATION = /*[[${PUBLISH_DESTINATION}]]*/ '';
        /*]]>*/
    </script>
    <script type="module" th:src="@{/js/chatroom.js}"></script>
</head>
<body>
<h1 th:text="${chatroomId}"></h1>
</body>
</html>
