<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${chatroomId}"></title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <link th:href="@{/styles/chatroom.css}" rel="stylesheet"/>
    <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@5.0.0/bundles/stomp.umd.min.js">
    </script>
    <!-- https://stomp-js.github.io/guide/stompjs/using-stompjs-v5.html -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        const chatroomId = /*[[${chatroomId}]]*/ '';
        const WEBSOCKET_URL = /*[[${WEBSOCKET_URL}]]*/ '';
        const SUBSCRIBE_DESTINATION = /*[[${SUBSCRIBE_DESTINATION}]]*/ '';
        const PUBLISH_DESTINATION = /*[[${PUBLISH_DESTINATION}]]*/ '';
        /*]]>*/
    </script>
    <script type="module" th:src="@{/js/chatroom.js}"></script>
</head>
<body>
<div id="chat-container">
    <header>
        <div th:replace="fragments/navbar.html :: navbar"></div>
    </header>
    <h1 id="chat-title" th:text="${chatroomId}"></h1>
    <div id="chat-main-section">
        <section id="messages-container">
            <ul id="messages">
            </ul>
        </section>
        <section id="user-list">
            <h4 id="user-list__header">users</h4>
            <ul id="user-list__users"></ul>
        </section>
    </div>
    <input id="chat-input" autofocus maxlength="500" type="text" placeholder="Type a message">
</div>
</body>
</html>
