:root {
    --yellow-color: rgb(255, 216, 20);
    --orange-color: rgb(255, 164, 28);
    --black-color: rgb(15, 17, 17);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: monospace, monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 2.5rem;
    min-height: 100vh;
}
